# Handle line endings automatically for files Git considers text,
# converting them to LF on checkout.
* text=auto eol=lf
# Ensure Python files always use LF for line endings.
*.py text eol=lf
# Treat designated file types as binary and do not alter their contents or line endings.
*.png -text binary
*.jpg -text binary
*.jpeg -text binary
*.ico binary
*.pdf binary
*.onnx -text binary
*.mp4 -text binary
*.mov -text binary
*.gif -text binary
*.foxe -text binary
